<p>
    <mat-toolbar color="primary">
        <mat-icon  [routerLink]="'/candidates'" class="cursor" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <span [routerLink]="'/candidates'" class="cursor">Home</span>
      <hr>
     
      <span class="example-spacer"></span>
      <span class="cursor"  [routerLink]="'add-candidates'">Create user</span>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>

    </mat-toolbar>
  </p>